<html
    data-namespace-typo3-fluid="true"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:monitoring="http://typo3.org/ns/mteu/Monitoring/ViewHelper/Backend"
>

<f:layout name="Module" />

<f:variable name="providerHealthState" value="{provider.status -> monitoring:statusContext()}" />
<f:variable name="providerActivationState" value="{f:if(condition: provider.isActive, then: providerHealthState, else: 'default')}" />
<f:variable name="providerEnablementState" value="{f:if(condition: provider.isEnabled, then: providerActivationState, else: 'placeholder')}" />
<f:variable name="panelExpandable" value="{f:if(condition: '{provider.description} || {provider.subResults} || {provider.isCached}', then: true, else: false)}" />

<div class="panel panel-{providerEnablementState}">
    <h3 class="panel-heading">
        <div class="panel-heading-row">

            <f:if condition="{panelExpandable}">
                <f:then>
                    <button class="panel-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsible-panel-complex-{groupKey}-{iterator.index}" aria-expanded="false" title="{class}">
                        <span class="caret"></span>
                        <div class="panel-title">
                            {provider.name}
                        </div>
                    </button>
                </f:then>
                <f:else>
                    <div class="panel-title">
                        {provider.name}
                    </div>
                </f:else>
            </f:if>


            <f:if condition="{provider.isEnabled}">
                <f:then>
                    <f:if condition="{provider.isActive}">
                        <f:then>
                            <div class="panel-badge">
                                <f:if condition="{provider.isCached}">
                                    <span class="badge badge-default" style="margin-right:0.25rem;">
                                        <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:status.cached" />
                                    </span>
                                </f:if>
                                <span class="badge badge-{providerHealthState}">
                                    <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:status.{provider.status}" />
                                </span>
                            </div>
                        </f:then>
                        <f:else>
                            <span class="badge badge-info">
                                <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:status.inactive" />
                            </span>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <span class="badge badge-notice">
                        <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:status.disabled" />
                    </span>
                </f:else>

            </f:if>

        </div>
    </h3>
    <div class="panel-collapse collapse" id="collapsible-panel-complex-{groupKey}-{iterator.index}" aria-expanded="false">
        <div class="panel-body">
            <f:if condition="{provider.description}">
                <p>
                    {provider.description}
                </p>
            </f:if>

            <f:if condition="{provider.isEnabled} == false">
                <f:then>
                    <p><core:icon identifier="content-info" size="small" /> <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:provider.disabled.message" /></p>
                </f:then>
                <f:else>
                    <f:if condition="{provider.isActive}">
                        <f:then>
                            <f:if condition="{provider.subResults}">
                                <f:render partial="Backend/Results/List" arguments="{details: provider.subResults}" />
                            </f:if>

                            <f:if condition="{provider.isCached}">
                                <f:render section="CachingDetails" arguments="{provider: provider, flushProviderCacheUri: flushProviderCacheUri, class: providerClass}" />
                            </f:if>
                        </f:then>
                        <f:else>
                            <f:sanitize.html>
                                <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:provider.inactive.message" arguments="{0: '<pre>{providerClass}</pre>'}" />
                            </f:sanitize.html>
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
        </div>
    </div>
</div>
<f:section name="CachingDetails">

<p class="card-text">
    <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:provider.cache.lifetime" arguments="{0: '{provider.cacheLifetime / 60}'}" />
    <f:if condition="{provider.cacheExpiresAt}">
        <f:variable name="dateFormat"><f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:datetime.format" /></f:variable>
        <f:variable name="formattedDate"><f:format.date format="{dateFormat}">{provider.cacheExpiresAt}</f:format.date></f:variable>
        <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:provider.cache.expires_at" arguments="{0: formattedDate}" />
    </f:if>
</p>

<form method="post" action="{flushProviderCacheUri}">
    <input type="hidden" name="providerClass" value="{class}" />
    <input type="hidden" name="formToken" value="{provider.flushToken}" />
    <button type="submit" class="btn btn-primary btn-sm">
        <span class="inside">
            <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:provider.cache.flush.button" />
        </span>
    </button>
</form>

</f:section>
</html>
