<html
    data-namespace-typo3-fluid="true"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:monitoring="http://typo3.org/ns/mteu/Monitoring/ViewHelper/Backend"

>

<tr>
    <td>
        {className -> monitoring:className()}
        <span class="badge badge-{f:if(condition: authorizer.isActive, then: 'success', else: 'danger')}">
            <f:if condition="{authorizer.isActive}">
                <f:then><f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:status.active" /></f:then>
                <f:else><f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:status.inactive" /></f:else>
            </f:if>
        </span>
    </td>
    <td>
        {authorizer.priority}
    </td>
    <td>
        <f:switch expression="{className -> monitoring:className()}">
            <f:case value="TokenAuthorizer">
                {authorizer.description}

                <a class="t3js-modal-trigger"
                   data-title="{f:translate(key: 'LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:auth.token.button.example')}"
                   data-content="curl -s -H '{authorizer.authHeaderName -> f:if(condition: authorizer.authHeaderName, then: authorizer.authHeaderName, else: 'X-TYPO3-MONITORING')}:{authorizer.authToken -> f:if(condition: authorizer.authToken, then: authorizer.authToken, else: '<authentication-token>')}' {endpoint -> f:if(condition: endpoint, then: endpoint, else: 'https://your-site.com/your-monitoring-endpoint')} | jq '.'"
                   style="text-decoration: underline; cursor: pointer"
                >
                    <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:auth.token.button.example" />
                </a>

                <f:if condition="{authorizer.isEnabled} && {authorizer.emptySecret}">
                    <p>
                        <core:icon identifier="overlay-warning" size="small" />
                        <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:settings.api.secret.missing"/>
                    </p>
                </f:if>
            </f:case>
            <f:case value="AdminUserAuthorizer">
                {authorizer.description}

                <f:be.pageRenderer includeJavaScriptModules="{0: '@mteu/typo3-monitoring/preview-modal.js'}" />
                <a
                    style="text-decoration: underline; cursor: pointer"
                    data-preview-modal
                    data-preview-modal-url="{endpoint}"
                    data-preview-modal-title="{f:translate(key: 'LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:auth.button.preview')}"
                >
                    <f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:auth.button.preview" />
                </a>
            </f:case>
            <f:defaultCase>
                {authorizer.description}
            </f:defaultCase>
        </f:switch>
    </td>
    <td class="col-control">
        <div class="btn-group btn-group-sm" role="group">
            <f:switch expression="{className -> monitoring:className()}">
                <f:case value="TokenAuthorizer">
                    <f:if condition="{authorizer.authToken} && {endpoint} && {authorizer.authHeaderName} && {authorizer.isActive}">
                        <f:render section="CopyButton" arguments="{value: '{authorizer.authHeaderName}:{authorizer.authToken}', label: '{f:translate(key: \'LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:auth.token.copy.button\')}'}" />
                    </f:if>
                </f:case>
                <f:case value="AdminUserAuthorizer">
                    <f:if condition="{endpoint} && {authorizer.isActive}">
                        <f:render section="CopyButton" arguments="{value: endpoint, label: '{f:translate(key: \'LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:auth.endpoint.copy.button\')}'}" />
                    </f:if>
                </f:case>
                <f:defaultCase></f:defaultCase>
            </f:switch>
        </div>
    </td>
</tr>

<f:section name="CopyButton">
    <f:be.pageRenderer includeJavaScriptModules="{0: '@mteu/typo3-monitoring/copy-button.js'}" />

    <button
        type="button"
        class="btn btn-primary t3js-monitoring-copy-button"
        data-monitoring-clipboard-value="{value}"
        data-monitoring-clipboard-label-default="{label}"
        data-monitoring-clipboard-label-success="{f:translate(key: 'LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:auth.token.copy.success')}"
        data-monitoring-clipboard-label-error="{f:translate(key: 'LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:auth.token.copy.error')}"
    >
        {label}
    </button>
</f:section>
</html>
