<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<h2><f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:authorizers.list.title" /></h2>
<p><f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:authorizers.list.description" /></p>

<div class="table-fit">
    <table class="table table-striped">
        <thead>
            <th><f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:table.header.name" /></th>
            <th><f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:authorizers.priority" /></th>
            <th><f:translate key="LLL:EXT:monitoring/Resources/Private/Language/locallang.be.xlf:table.header.description" /></th>
            <th></th>
        </thead>
        <tbody>
            <f:for each="{authorizers}" as="authorizer" key="class" iteration="iterator">
                <f:render partial="Backend/Authorizer/Item" arguments="{authorizer: authorizer, className: class, endpoint: endpoint}" />
            </f:for>
        </tbody>
    </table>
</div>

</html>
