parameters:
	ignoreErrors:
		-
			rawMessage: 'Only booleans are allowed in &&, mixed given on the left side.'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: ../../Classes/Authorization/AdminUserAuthorizer.php

		-
			rawMessage: 'Only booleans are allowed in &&, mixed given on the right side.'
			identifier: booleanAnd.rightNotBoolean
			count: 1
			path: ../../Classes/Authorization/AdminUserAuthorizer.php

		-
			rawMessage: Cannot access offset 'SYS' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../Unit/Provider/MiddlewareStatusProviderTest.php

		-
			rawMessage: Cannot access offset 'encryptionKey' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../Unit/Provider/MiddlewareStatusProviderTest.php
