includes:
	- phpstan-baseline.neon

parameters:
	scanDirectories:
		- ../../.build/vendor/phpunit/phpunit/src
		- ../../.build/vendor/typo3/cms-backend/Classes
		- ../../.build/vendor/typo3/testing-framework/Classes
		- ../../.build/vendor/mteu/typo3-typed-extconf/Classes
	paths:
		- ../../Classes
		- ../../Configuration
		- ../../Tests/Functional
		- ../../Tests/Unit
	level: max
	treatPhpDocTypesAsCertain: false

	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Exception
				- Symfony\Component\Console\Command\Command
				- TYPO3Fluid\Fluid\Core\ViewHelper\AbstractViewHelper
				- TYPO3\TestingFramework\Core\Functional\FunctionalTestCase
				- TYPO3\TestingFramework\Core\Unit\UnitTestCase
				- mteu\Monitoring\Tests\Unit\MonitoringTestCase

	ignoreErrors:
		- identifier: ergebnis.noConstructorParameterWithDefaultValue
		- identifier: ergebnis.noNullableReturnTypeDeclaration
		- identifier: ergebnis.noParameterWithNullDefaultValue
		- identifier: ergebnis.noParameterWithNullableTypeDeclaration
		- identifier: ergebnis.noNamedArgument
		- message: '#Interface must be located in "Contract" or "Contracts" namespace#'

		# Allow TYPO3 internal classes in tests for real implementations
		-
			identifier: new.internalClass
			path: ../../Tests/
		-
			identifier: method.internalClass
			path: ../../Tests/

		# Allow reference parameters in test callback authorizers
		-
			identifier: ergebnis.noParameterPassedByReference
			path: ../../Tests/
		-
			identifier: symplify.noReference
			path: ../../Tests/
		-
			identifier: property.onlyWritten
			path: ../../Tests/
